<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo navbar-fixed-top">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Toures Balon</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:;;" [routerLink]="[ '/' ]">Inicio
          <span class="sr-only">(current)</span>
        </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="jaascript:;;" [routerLink]="[ '/products/all-products' ]">Paquetes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="jaascript:;;" [routerLink]="[ '/products/campanas' ]">Campañas</a>
            </li>

            <!-- <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->

      </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div>
                    <a class="nav-link" href="javascript:;;" [routerLink]="['/products/cart-items']">
                        <i class="fa fa-shopping-cart">
              <span class="mt-2"> {{productService.navbarCartCount}}</span>
            </i>
                    </a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:;;">
                    <i class="fa fa-envelope"></i> Contacto
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/users']">
                    <i class="fa fa-user"></i> Mi cuenta</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                <a class="nav-link" [routerLink]="[ '/index/login' ]">
                    <i class="fa fa-sign-in"></i> Login / Registro</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <a class="nav-link" (click)="logout()">
                    <i class="fa fa-sign-in"></i>Cerrar sesion</a>
            </li>
        </ul>



        <form class="form-inline my-2 my-sm-0">
            <input class="form-control-sm" type="text" placeholder="Buscar" (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>

             <button (click)="buscarProductoN(buscarTexto.value)"
            class="btn btn-outline-success btn-sm" type="button" >Por Nombre</button>

            <button (click)="buscarProductoD(buscarTexto.value)"
            class="btn btn-outline-success btn-sm" type="button" >Por Descripción</button>

            <button (click)="buscarProductoC(buscarTexto.value)"
            class="btn btn-outline-success btn-sm" type="button" >Por Codigo</button>

        <!-- <select class="custom-select form-control-sm" id="inputGroupSelect01">
          <option value="0" selected>Por Nombre</option>
          <option value="1">Por Descripción</option>
          <option value="2">Por Codigo</option>
        </select> -->
        </form>

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
