<!-- Footer -->

<footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/footer_1.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter">
                    <div class="newsletter_title_container text-center">
                        <div class="newsletter_title">Subscribete a nuestro newsletter para concoer las &uacute;ltimas ofertas y noticias</div>
                        <div class="newsletter_subtitle">&Uacute;nete AHORA!</div>
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
                            <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                                <div><input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="nombre" required="required">
                                    <div class="input_border"></div>
                                </div>
                                <div><input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="tu correo" required="required">
                                    <div class="input_border"></div>
                                </div>
                            </div>
                            <div><button class="newsletter_button">suscribete</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_contact_row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="../assets/images/sign.svg" alt=""></div>
                            <div class="footer_contact_title">ll&aacute;manos</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li>PBX: +57 7326467</li>
                                    <li>M&oacute;bil: +57 3178933</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="../assets/images/trekking.svg" alt=""></div>
                            <div class="footer_contact_title">Vísita nuestra oficina</div>
                            <div class="footer_contact_list">
                                <ul style="max-width:190px">
                                    <li>Carrera 7 No. 40 - 62</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="../assets/images/around.svg" alt=""></div>
                            <div class="footer_contact_title">d&eacute;janos un mensaje</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="522b3d2720373f333b3e12353f333b3e7c313d3f">info@touresbalon.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        Todos los derechos reservados &copy; 2018
        <script data-cfasync="false" src="../assets/js/email-decode.min.js"></script>
        <script>
            document.write(new Date().getFullYear());
        </script> Touresbalon
    </div>
</footer>