<br>
<br>
<br>
<br>
<br>
<br>
<section class="container">

    <!-- Login form -->
    <div class="col-sm-6">
        <form style="width:22rem" #loginForm="ngForm" (ngSubmit)="signInWithEmail(loginForm)">
            <p class="h5 text-center mb-4">Identif&iacute;cate</p>
            <div class="alert alert-danger" role="alert" *ngIf="errorInLoginUser">
                {{errorMessage}}
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input mdbActive type="email" id="loginEmailId" class="form-control" name="emailId" [(ngModel)]="user.emailId" mdbInputValidate [email]="true" autocomplete="email">
                <label for="emailId">Tu Correo</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="loginPassword" name="loginPassword" [(ngModel)]="user.loginPassword" class="form-control" mdbActive autocomplete="current-password">
                <label for="defaultForm-pass">Tu contrase&ntilde;a</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary waves-light" id="loginButton" mdbRippleRadius>Login</button>


            </div>
        </form>
    </div>
    <br>
    <p>Eres Nuevo ?
        <a data-toggle="modal" data-target="#createUserForm" style="color:dodgerblue">Registrate aqu&iacute;!</a>
    </p>
    <!-- Login form -->

    <!--Modal: Register Form-->
    <div class="modal fade" id="createUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                <div class="modal-content">

                    <div class="modal-header light-blue darken-3 white-text">
                        <h4 class="title">
                            <i class="fa fa-user-plus"></i> Registro</h4>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" *ngIf="errorInUserCreate">
                            {{errorMessage.message}}
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input mdbActive type="email" id="emailId" class="form-control" name="emailId" [(ngModel)]="createUser.login" mdbInputValidate [email]="true" autocomplete="email">
                            <label for="emailId">Tu correo</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input mdbActive type="password" id="password" class="form-control" name="password" [(ngModel)]="createUser.password" mdbInputValidate autocomplete="new-password">
                            <label for="password">Tu contrase&ntilde;a</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input mdbActive type="text" id="nombres" class="form-control" name="nombres" [(ngModel)]="createUser.nombres">
                            <label for="nombres">Tu Nombre</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input mdbActive type="text" id="apellidos" class="form-control" name="apellidos" [(ngModel)]="createUser.apellidos">
                            <label for="apellidos">Tu Apellido</label>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-info waves-light" id="signUpButton" mdbRippleRadius>Registrar
                <i class="fa fa-sign-in ml-1"></i>
              </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<br>
<br>
<br>
<ng2-toasty></ng2-toasty>