<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Vaya!</h1>
                <h2>
                    404 P&Aacute;gina no Encontrada</h2>
                <div class="error-details">
                    Lo siento, un error ha ocurrido, la p&Aacute;gina solicitada no se encontr&oacute;!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span> Ir al Inicio </a>
                    <a href="/" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> Contactar a Soporte</a>
                </div>
            </div>
        </div>
    </div>
</div>