<div class="contenido col-md-12 panelServicio">
    <h3 id="tituloPaginaActual" class="titulo-linea">DEFINICION DE PRODUCTOS</h3>
    <!--Fomulario para agregar una nueva empresa-->
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="panel-body">
                <div class="panel panelPrincipal animated fadeIn fast" *ngIf="!panelEditar">
                    <div class="btn-group col-sm-2 pull-right m-3">
                        <a href="#" (click)="agregar()" class="btn btn-sm  btn-outline-primary">Agregar</a>
                    </div>

                    <table class="table table-md table-bordered table-hover small">
                        <thead class="badge-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Fecha salida</th>
                                <th scope="col">Fecha regreso</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of elementos">
                                <th scope="row">{{item.idProducto}}</th>
                                <td>{{item.nombreProducto}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.fechaSalida}}</td>
                                <td>{{item.fechaLlegada}}</td>
                                <td><i class="fa fa-pencil-square-o" (click)="editar(item)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage($event)"></ngb-pagination>



                </div>
                <div class="panel panelPrincipal animated fadeIn fast" *ngIf="panelEditar">
                    <form id="formreg" class="m-4" role="form" novalidate>
                        <div class="form-group row small">

                            <label for="idProducto" class="col-sm-4 col-form-label col-form-label-sm">Identificador</label>
                            <div class="col-sm-8">
                                <div [ngClass]="{'has-error': errores.idProducto }">
                                    <input type="text" class="form-control form-control-sm" disabled id="idProducto" name="idProducto" [(ngModel)]="datosFormulario.idProducto" required>
                                    <span class="control-label" ng-show="errores.idProducto">{{errores.idProducto}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row small">

                            <label for="idTipoProducto" class="col-sm-4 col-form-label col-form-label-sm">Tipo de Producto</label>
                            <div class="col-sm-8">
                                <div [ngClass]="{'has-error': errores.idTipoProducto }">
                                    <select class="form-control" id="idTipoProducto" name="idTipoProducto" [(ngModel)]="datosFormulario.idTipoProducto" required>
                                        <option [ngValue]="item" *ngFor="let item of tiposProducto"> 
                                                {{item.nombre}}</option>
                                        
                                      </select>
                                    <span class="control-label" ng-show="errores.idTipoProducto">{{errores.idTipoProducto}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row small">

                            <label for="nombreProducto" class="col-sm-4 col-form-label col-form-label-sm">Nombre</label>
                            <div class="col-sm-8">
                                <div [ngClass]="{'has-error': errores.nombreProducto }">
                                    <input type="text" class="form-control form-control-sm" id="nombreProducto" name="nombreProducto" [(ngModel)]="datosFormulario.nombreProducto" required>
                                    <span class="control-label" ng-show="errores.nombreProducto">{{errores.nombreProducto}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row small">

                            <label for="descripcion" class="col-sm-4 col-form-label col-form-label-sm">Descripcion</label>
                            <div class="col-sm-8">
                                <div [ngClass]="{'has-error': errores.descripcion }">
                                    <textarea class="form-control form-control-sm" id="descripcion" name="descripcion" [(ngModel)]="datosFormulario.descripcion" required></textarea>
                                    <span class="control-label" ng-show="errores.descripcion">{{errores.descripcion}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row small">

                            <label for="fechas" class="col-sm-4 col-form-label col-form-label-sm">Fechas de viaje</label>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div [ngClass]="{'has-error': errores.fechas }">
                                            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                                            </ngb-datepicker>
                                            <span class="control-label" ng-show="errores.fechas">{{errores.fechas}}</span>
                                            <ng-template #t let-date let-focused="focused">
                                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                              </span>
                                            </ng-template>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="btn-group float-lg-right m-1" role="group">
                                <button class="btn btn-md btn btn-outline-success " type="button" (click)="guardar()">{{nuevoRegistro ? 'Guardar' : 'Editar' }}</button>
                                <button class="btn btn-md btn btn-outline-danger " type="button" (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>


                    </form>

                    <div class="panel panelPrincipal animated fadeIn fast" *ngIf="panelAdicional">
                        <div id="accordion">
                            <div class="card bg-light mb-3">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Imagenes
                                          </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="image-upload">
                                                            <img [src]="imageSrc" style="max-width:300px;max-height:300px" />
                                                            <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="card-columns">
                                            <div class="card" *ngFor="let item of imagenes">
                                                <img class="card-img-top" src="http://10.39.1.140/Imagenes/{{item.imagen}}" alt="">
                                                <div class="card-footer">
                                                    <small class="text-muted"><button class="btn btn-danger btn-sm">Borrar</button></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-light mb-3 ">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Itineraro
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-light mb-3">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Boleteria
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>