<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="product-image">
                <div class="view hm-zoom z-depth-2" style="cursor: pointer">
                    <img [src]="['http://10.39.1.140/imagenes/' + product.imagenProductoList[0].imagen]" [alt]="" width="100%" class="img-fluid rounded">
                </div>
                <div class="" style="margin-top:15px">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Paquete</h6>
                            </div>
                            <span class="text-muted" style="color:crimson !important">100</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Categor&iacute;a</h6>
                            </div>
                            <span class="text-muted" style="color:crimson !important">{{product.idTipoProducto.nombre}}</span>
                        </li>
                    </ul>
                    <button class="btn btn-primary fa fa-shopping-cart" container="body" (click)="addToCart(product)">  Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="product-detail">
                <h5 class="product-head">Detalles del paquete</h5>
                <table class="table" cellspacing="0" style="max-height: 28px">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{product.nombreProducto}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Descripci&oacute;n</th>
                            <td>{{product.descripcion}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Categor&iacute;a</th>
                            <td>{{product.idTipoProducto.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>