@charset "utf-8";
/* CSS Document */
body {
	background-color: #E0E7EF;	
	margin-top:0px;	
}
.verdana_azul_11, a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#336699;
text-align:left;
}
.arial_black_15{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color: #000000;
}
.verdana_azul_10{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#336699;
}
.verdana_azul_16bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#336699;
text-align:left;
font-weight:bold;
}
.verdana_black_10{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #000000;
}
.verdana_white_10{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #ffffff;
}
.verdana_black_10bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color: #000000;
}
.verdana_black_12bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color: #000000;
}
.verdana_black_14bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color: #000000;
}
.verdana_black_11{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color: #000000;
}
.verdana_black_10bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #000000;
text-align:left;
font-weight:bold;
}
.arial_azul_14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#336699;
}
.arial_azul_14c{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#336699;
}
.arial_azul_12c{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#336699;
}
.arial_azul_12bol{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#336699;
font-weight:bold;
}
.verdana_gris_10{
padding-left:3px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #636363;
}