<div class="container">
    <div class="col-md order-md-1">
        <h4 class="mb-3">Direcci&oacute;n de Env&iacute;o de Documentaci&oacute;n</h4>
        <form class="needs-validation" #userDetailsForm="ngForm" (ngSubmit)="updateUserDetails(userDetailsForm)">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="userDetail.firstName" name="firstName" required>
                    <div class="invalid-feedback">
                        Se requiere poner el nombre.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Appelidos</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="userDetail.lastName" name="lastName" required>
                    <div class="invalid-feedback">
                        El apellido es requerido.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="username">Nombre de usuario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" [(ngModel)]="userDetails.login" name="userName" [disabled]="true">
                    <div class="invalid-feedback" style="width: 100%;">
                        El nombre de usuario es requerido.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Correo
        </label>
                <input type="email" class="form-control" id="email" [(ngModel)]="userDetails.login" name="email" [disabled]="true">
                <div class="invalid-feedback">
                    Por favor ingrese un correo v&aacute;lido.
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Direcci&oacute;n F&iacute;sica</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" [(ngModel)]="userDetail.address1" name="address1" required>
                <div class="invalid-feedback">
                    Por favor ingrese su direcci&oacute;n f&iacute;sica.
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">Pa&iacute;s</label>
                    <select class="custom-select d-block w-100" id="country" required [(ngModel)]="userDetail.country" name="country">
            <option value="">Seleccione...</option>
            <option>Colombia</option>
          </select>
                    <div class="invalid-feedback">
                        Por favor seleccione el pa&iacute;s.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">Departamento</label>
                    <select class="custom-select d-block w-100" id="state" [(ngModel)]="userDetail.state" name="state" required>
            <option value="">Seleccione...</option>
            <option>Cundinamarca</option>
          </select>
                    <div class="invalid-feedback">
                        Por favor seleccione un departamento v&acute;lido.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">Ciudad</label>
                    <select class="custom-select d-block w-100" id="state" [(ngModel)]="userDetail.state" name="state" required>
            <option value="">Seleccione...</option>
            <option>Bogota</option>
          </select>
                    <div class="invalid-feedback">
                        Por favor seleccione una ciudad v&acute;lido.
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue al pago</button>
        </form>
    </div>