<!-- Search -->

<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_title">Busca tu viaje</div>
                    <div class="home_search_content">
                        <form action="#" class="home_search_form" id="home_search_form">
                            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input type="text" class="search_input search_input_1" placeholder="Ciudad" required="required">
                                <input type="text" class="search_input search_input_2" placeholder="Origen" required="required">
                                <input type="text" class="search_input search_input_3" placeholder="Destino" required="required">
                                <input type="text" class="search_input search_input_4" placeholder="Presupuesto" required="required">
                                <button class="home_search_button">buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>