<!-- Home -->

<app-campanas></app-campanas>
<app-buscador></app-buscador>

<!-- Intro -->

<div class="intro">
    <div class="intro_background" style="background-image:url(../assets/images/intro.png)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_container">
                    <div class="row">

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="../assets/images/beach.svg" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Top Destinos</div>
                                    <div class="intro_subtitle">
                                        <p>Los lugares m&aacute;s hermosos</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="../assets/images/wallet.svg" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Los mejores precios</div>
                                    <div class="intro_subtitle">
                                        <p>Podr&aacute;s viajar con poco dinero</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="../assets/images/suitcase.svg" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Servicios sorprendentes</div>
                                    <div class="intro_subtitle">
                                        <p>No creeras nuestras ofertas</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Destinations -->

<div class="destinations" id="destinations">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">sencillamente lugares asombrosos</div>
                <div class="section_title">
                    <h2>Destinos populares</h2>
                </div>
            </div>
        </div>
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid">

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_1.jpg" alt="">
                            <div class="spec_offer text-center"><a href="#">Ofertas especiales</a></div>
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">Bali</a></div>
                            <div class="destination_subtitle">
                                <p>Playas paradisiacas.</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_2.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">Indonesia</a></div>
                            <div class="destination_subtitle">
                                <p>Hermosos paisajes</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_3.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">San Francisco</a></div>
                            <div class="destination_subtitle">
                                <p>Puente goldengate</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_4.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">Paris</a></div>
                            <div class="destination_subtitle">
                                <p>El arco del triunfo</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_5.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">Phi Phi Island</a></div>
                            <div class="destination_subtitle">
                                <p>Relajaci&oacute;n garantizada</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../assets/images/destination_6.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="destinations.html">Mykonos</a></div>
                            <div class="destination_subtitle">
                                <p>Ciudades hermosas</p>
                            </div>
                            <div class="destination_price">Desde $679</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->

<div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/testimonials.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">Sencillamente lugares asombrosos</div>
                <div class="section_title">
                    <h2>Testimonios</h2>
                </div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="col">

                <!-- Testimonials Slider -->
                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>john turner,</div>
                                    <div>client</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>john turner,</div>
                                    <div>client</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>john turner,</div>
                                    <div>client</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test_nav">
        <ul class="d-flex flex-column align-items-end justify-content-end">
            <li><a href="#">Ciudades que facinanan a clientes<span>01</span></a></li>
            <li><a href="#">Clientes de Cruceros<span>02</span></a></li>
            <li><a href="#">Clientes todo inclu&iacute;do<span>03</span></a></li>
        </ul>
    </div>
</div>